body {
color: white;
background: pink;
margin: 0px
}

header {
    border-bottom: solid 2px white;
    
    
    padding: 20px;

    font-size: 32px;
}

.chamada {
   padding-bottom: 80px;
   padding-top: 80px;
    background: rgb(141 125 194);
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size 60px;
}

img {
    height: 200px;
}


.categoria {
    padding-left: 90px;
    padding-right: 32px;
}

.categoria-videos img {
    opacity: 0,5;
    height:200px;
}

.categoria-videos img:hover{
    opacity: 1,0;
    border: 1px;
}